/*********************************  TAG *********************************/

body{
    margin: 0;
    font-family: 'DM Serif Display', serif;

}

h1{
    margin: 0;
    font-family: 'Gloock', serif;
}

h2{
    margin: 0;
    font-family: 'Gloock', serif;
}

h3{
    margin: 0;
    font-family: 'Gloock', serif;
}

p{
    font-family: 'Permanent Marker', cursive;
}


/*********************************  CLASS *********************************/

.top-container
{
    height: 200px;
    background-color: rgb(255, 0, 255);
    /*padding: 20px;*/
    width: 200px;
    position: absolute;
}

.mid-container
{
    height: 200px;
    background-color: rgb(143, 23, 255);
    /*padding: 20px;*/
    width: 200px;
    position: absolute;
    left: 200px;
    top: 200px;

}

.bot-container
{
    height: 200px;
    background-color: rgb(6, 35, 240);
    /*padding: 20px;*/
    width: 200px;
    position: absolute;
    left: 400px;
    top: 200px;
}

.mobile
{
    height: 200px;
    background-color: rgb(255, 0, 255);
    /*padding: 20px;*/
    width: 200px;
    position: fixed;
    left: 200px;
    
}