
    body
    {
        background-color: rgb(0, 0, 0);
        color: white;
        
    }
    
    hr
    {
        height: 10px; 
        border-style: none none dotted;
        border-width: 5px;
        height: 20px;
        width: 75%;
        border-color: rgb(255, 0, 255);
    }

    h1
    {
        color: rgb(143, 23, 255);
    }

    h2
    {
        color: rgb(143, 23, 255);
    }

    h3
    {
        color: rgb(143, 23, 255);
    }
    
    
    li
    {
        color: rgb(56, 35, 240);
        font-size: 14px;
        text-transform: uppercase;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        list-style: none;
        letter-spacing: 2.5px;
    }

    li:before
    {
        content: "\1F0A1";
        color: rgb(255, 0, 0);
        margin-right: 20px;
    }

    .work-experience
    {
        border: 5px dotted  rgb(255, 0, 255);
        margin: 25px 0;
        font-family: 'Times New Roman', Times, serif;
        min-height: 500px;
        box-shadow: 0 0 20px black;
        text-align: center;
        

    }

    .backfill-table
    {
        background-color: rgb(1, 1, 250);
        margin: 25px 0;
        font-family: 'Times New Roman', Times, serif;
        box-shadow: 0 0 20px black;
        width: 40%;
        text-align: center;
    }

    .backfill-skills
    {
        color: #E9E8E8;
    text-align: center;
    font-family: courier;
    border: 5px dotted rgb(255, 0, 255);
    margin: 50px;
    }

    a
    {
        color: rgb(0, 238, 255);
    }